<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>every ninjas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="main.js"></script>
</head>
<body>
    <img src="file://localhost/Users/Kyle/Desktop/Python/disappear_ninja/static/donatello.jpg" alt="donatello">
    <img src="../static/leonardo.jpg" alt="leonardo">
    <img src="../static/michelangelo.jpg" alt="michelangelo">
    <img src="../static/raphael.jpg" alt="raphael">
</body>
</html>