<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>random word generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/style.css" />
    <script src="main.js"></script>
</head>
<body>
    <p>Random Word (attempt #{{request.session.counter}})</p>
    <div class="line">{{word}}</div>
    <div class="button">
        <a href="/">GENERATE!</a>
        <a href="/reset">RESET!</a>
    </div>    
</body>
</html>