<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {{ one_friend }}
    <p>ID: {{one_friend["id"] }}  </p>
    <p>First Name: {{one_friend["first_name"]}}</p>
    <p>Last Name : {{one_friend["last_name"]}}</p>
    <p>Occupation : {{one_friend["occupation"]}}</p>
    <h1>hi</h1>
</body>
</html>