<!DOCTYPE HTML>
<html lang =en>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatiable" content="ie=edge">
        <title>Ninja go to Dojo Page</title>
        <link rel="stylesheet" href="/Users/Kyle/Desktop/Python/landing/static">
        <h1>ninja1</h1>
        <h2>ninja2</h2>
        <h3>ninja3</h3>
    </head>
    <body>
        <form action="">
            First name:<br>
            <input type="text" name="firstname"><br>
            Last name:<br>
            <input type="text" name="lastname">
        </form>
    </body>
</html>